{{/* FLIP: new template block */}}
{{/* BASED ON: Wowchemy Blocks: Markdown */}}
{{/* The issue is that the markdown block template  */}}
{{/* has no explicit code for the left column.  */}}
{{/* This code is hidden in pase_block.html and  */}}
{{/* only accessible to the official blocks.  */}}

{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $columns := $block.Params.design.columns | default "2" }}

<div class="row  {{if not $block.Title | or (eq $columns "1") }}justify-content-center{{end}}">
  {{ if $block.Title }}
    {{ if eq $columns "1" }}
      <div class="section-heading col-12 mb-3 text-center">
        {{ with $block.Title }}<h1 class="mb-0">{{ . | markdownify | emojify }}</h1>{{ end }}
        {{ with $block.Params.subtitle }}<p class="mt-1">{{ . | markdownify | emojify }}</p>{{ end }}
      </div>
    {{else}}
      <div class="section-heading col-12 col-lg-4 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
        {{ with $block.Title }}<h1 class="mb-0">{{ . | markdownify | emojify }}</h1>{{ end }}
        {{ with $block.Params.subtitle }}<p class="mt-1">{{ . | markdownify | emojify }}</p>{{ end }}
        <!-- FLIP -->
        {{ $block.Content }}
        <!-- /FLIP -->
      </div>
    {{end}}
  {{end}}
<div class="col-12 col-lg-8">
  <!-- {{ $block.Content }} -->
  <!-- FLIP: new -->
  <div class="row">
    {{ with $block.Params.teaching }}
          {{ range .class }}
            <div class="col-3 teaching">
             <a href="{{ .website }}"><img class="teachingpic" src="{{ $.Site.BaseURL }}img/teaching/{{ .photo }}"></a>
             <a href="{{ .website }}">{{ .number }}, {{ .session }}</a> <br />
             <span class="smaller">{{ .name }}</span>
            </div>
          {{ end }}
        {{ end }}
    </div>
  <!-- /FLIP -->

  <!--  -->
  <div class="row comment">
      <h5>Earlier Courses</h5>
    </div>
    {{ with $block.Params.teaching }}
      <div class="row comment">
      {{ range .oldclass }}
          <div class="col-md-6">
            <a href="{{ .website }}" class=comment>
              {{ .name }}
            </a>&nbsp;{{ .number }}, {{ .session }}
          </div>
      {{ end }}
      {{ range .olderclass }}
          <div class="col-md-6">
            <a href="{{ .website }}" class=comment>
              {{ .name }}
            </a>&nbsp;{{ .number }}, {{ .session }}
          </div>
      {{ end }}
      </div>
    {{ end }}
  <!--  -->
</div>
